header .header__bloquetitulo {
  display: flex;
  flex-direction: row;
  align-items: baseline; }
  header .header__bloquetitulo .header__titulo {
    font-family: 'Lato', sans-serif;
    padding-right: 1em; }
    header .header__bloquetitulo .header__titulo a {
      text-decoration: none;
      color: black; }
  header .header__bloquetitulo .header__subtitulo {
    font-family: 'Lexend Deca' , sans-serif;
    font-size: 15px; }

footer {
  background-color: #4395C3;
  padding: 10px; }
  footer a {
    font-family: 'Open Sans';
    text-decoration: none;
    color: black;
    font-size: 15px; }
  footer .pie__derechos {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 300; }
  footer .pie__wsp a .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #20b120;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(43, 218, 63, 0.501);
    z-index: 100; }
    footer .pie__wsp a .float:hover {
      color: #20b120;
      background-color: white; }
  footer .pie__wsp a .btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: white;
    border-radius: 60px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100; }
    footer .pie__wsp a .btn-wsp:hover {
      text-decoration: none;
      color: #0df053;
      background: white; }

nav ul {
  padding: 1em; }
  nav ul li {
    display: inline-block;
    position: relative; }
    nav ul li a {
      text-decoration: none;
      color: black;
      font-family: 'Lexend Deca' , sans-serif;
      font-weight: 200;
      font-size: 15px;
      padding: 0.5em; }

.cuerpo {
  display: grid;
  grid-template-areas: "texto imagen";
  grid-template-columns: 20% 60%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%; }
  .cuerpo .cuerpo__texto {
    margin: 10px;
    grid-area: texto;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: lighter; }
  .cuerpo .cuerpo__img {
    width: 60%;
    margin-left: 100px;
    grid-area: imagen;
    border: solid 1px black; }

/*MEDIAS INDEX*/
@media (max-width: 768px) {
  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5em 0;
    width: 100%; }
    .cuerpo .cuerpo__texto {
      padding: 0 1em 2em 1em;
      grid-area: texto;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: lighter;
      text-align: center; }
    .cuerpo .cuerpo__img {
      width: 80%;
      grid-area: imagen;
      border: solid 1px black;
      margin: auto; }
  nav ul {
    padding: 1em 0; }
    nav ul li a {
      text-decoration: none;
      color: black;
      font-family: 'Lexend Deca' , sans-serif;
      font-weight: 200;
      font-size: 15px;
      padding: 0.5em;
      padding-left: 0; } }

@media (max-width: 320px) {
  .cuerpo .cuerpo__img {
    display: none; } }
