* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #4395C3;
  padding: 1em; }
  header .header__bloquetitulo {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
    header .header__bloquetitulo .header__titulo {
      font-family: 'Lato', sans-serif;
      padding-right: 1em; }
      header .header__bloquetitulo .header__titulo a {
        text-decoration: none;
        color: black; }
    header .header__bloquetitulo .header__subtitulo {
      font-family: 'Lexend Deca' , sans-serif;
      font-size: 15px; }
  header nav ul {
    padding: 1em; }
    header nav ul li {
      display: inline-block;
      position: relative; }
      header nav ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Lexend Deca' , sans-serif;
        font-weight: 200;
        font-size: 15px;
        padding: 0.5em;
        transition: all 300ms ease; }
        header nav ul li a:hover {
          transform: scale(1.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          background: #F9F6E2; }

.pie {
  background-color: #4395C3;
  padding: 10px; }
  .pie a {
    font-family: 'Open Sans';
    text-decoration: none;
    color: black;
    font-size: 15px; }
  .pie .pie__derechos {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 300; }
  .pie .pie__wsp .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #20B120;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(43, 218, 63, 0.501);
    z-index: 100; }
    .pie .pie__wsp .float:hover {
      color: #20B120;
      background-color: white; }
    .pie .pie__wsp .float .fa-whatsapp {
      margin-top: 25%; }

body {
  background-color: #F9F6E2; }

.cuerpo {
  display: grid;
  grid-template-areas: "texto imagen";
  grid-template-columns: 20% 60%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%; }
  .cuerpo .cuerpo__texto {
    margin: 10px;
    grid-area: texto;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: lighter; }
  .cuerpo .cuerpo__img {
    width: 60%;
    margin-left: 100px;
    grid-area: imagen;
    border: solid 1px black; }

.formulario {
  font-family: 'Open Sans' , sans-serif;
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .formulario form {
    margin: 100px auto 100px auto; }
    .formulario form .formulario__fieldset {
      background-color: #f4f1ed;
      color: firebrick;
      border-color: darkgoldenrod;
      border: 9px groove internal value;
      border-radius: 7px;
      width: 400px; }
      .formulario form .formulario__fieldset .formulario__legend {
        color: darkblue;
        font-weight: bold;
        text-align: center; }
      .formulario form .formulario__fieldset div .formulario__texto {
        font-weight: 300;
        font-size: 13px; }

.cuerpo__faq {
  display: flex;
  font-size: 16px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10em 3em; }
  .cuerpo__faq .cuerpo__faqcontenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10em 3em; }
    .cuerpo__faq .cuerpo__faqcontenedor ul {
      list-style: none;
      font-family: "Open Sans";
      font-size: 1em;
      font-weight: bolder;
      text-align: center; }
      .cuerpo__faq .cuerpo__faqcontenedor ul li {
        font-weight: 300;
        font-size: 0.8em; }

.cuerpo__nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "texto video";
  justify-content: center;
  grid-gap: 10px;
  margin: 10em 1em;
  width: 100%; }
  .cuerpo__nosotros .cuerpo__nosotros__texto {
    padding: 20px;
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    align-self: center;
    grid-area: texto; }
  .cuerpo__nosotros .cuerpo__nosotros__video {
    margin: 10px;
    width: 80%;
    grid-area: video; }

.cuerpo__servicios {
  display: grid;
  margin: 5em 2em;
  font-size: 10px;
  grid-template-columns: "1fr 1fr";
  grid-template-rows: "1fr 1fr";
  grid-template-areas: "servicios1 servicios2" "servicios3 servicios4";
  justify-content: space-between;
  align-content: center;
  grid-gap: 4em;
  width: 90%; }
  .cuerpo__servicios .cuerpo__servicios1 {
    grid-area: servicios1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cuerpo__servicios .cuerpo__servicios1 img {
      width: 50em; }
    .cuerpo__servicios .cuerpo__servicios1 p {
      color: black;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 1.2em;
      text-align: center;
      padding-bottom: 0.5em; }
  .cuerpo__servicios .cuerpo__servicios2 {
    grid-area: servicios2;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cuerpo__servicios .cuerpo__servicios2 img {
      width: 50em; }
    .cuerpo__servicios .cuerpo__servicios2 p {
      color: black;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 1.2em;
      text-align: center;
      padding-bottom: 0.5em; }
  .cuerpo__servicios .cuerpo__servicios3 {
    grid-area: servicios3;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cuerpo__servicios .cuerpo__servicios3 img {
      width: 50em; }
    .cuerpo__servicios .cuerpo__servicios3 p {
      color: black;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 1.2em;
      text-align: center;
      padding-bottom: 0.5em; }
  .cuerpo__servicios .cuerpo__servicios4 {
    grid-area: servicios4;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cuerpo__servicios .cuerpo__servicios4 img {
      width: 50em; }
    .cuerpo__servicios .cuerpo__servicios4 p {
      color: black;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 1.2em;
      text-align: center;
      padding-bottom: 0.5em; }

/*MEDIAS INDEX*/
@media (max-width: 768px) {
  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5em 0;
    width: 100%; }
    .cuerpo .cuerpo__texto {
      padding: 0 1em 2em 1em;
      grid-area: texto;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: lighter;
      text-align: center; }
    .cuerpo .cuerpo__img {
      width: 80%;
      grid-area: imagen;
      border: solid 1px black;
      margin: auto; }
  nav ul {
    padding: 1em 0; }
    nav ul li a {
      text-decoration: none;
      color: black;
      font-family: 'Lexend Deca' , sans-serif;
      font-weight: 200;
      font-size: 15px;
      padding: 0.5em;
      padding-left: 0; }
  .formulario form .formulario__fieldset {
    background-color: #f4f1ed;
    color: firebrick;
    border-color: darkgoldenrod;
    border: 9px groove internal value;
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .cuerpo__faq .cuerpo__faqcontenedor {
    display: flex;
    flex-direction: row;
    padding: 10em 5em;
    justify-content: center; }
  .cuerpo__nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "texto" " video";
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    width: 80%; }
    .cuerpo__nosotros .cuerpo__nosotros__texto {
      font-family: "Open Sans";
      font-weight: lighter;
      font-size: 13px;
      grid-area: texto;
      align-self: center;
      margin-left: 15%;
      text-align: center; }
    .cuerpo__nosotros .cuerpo__nosotros__video {
      width: 100%;
      grid-area: video;
      align-self: center;
      margin: 0 30px; }
  .cuerpo__servicios {
    display: grid;
    margin: 5em 2em;
    font-size: 10px;
    grid-template-columns: "1fr";
    grid-template-rows: "1fr 1fr 1fr 1fr";
    grid-template-areas: "servicios1"  "servicios2" "servicios3"  "servicios4";
    justify-content: space-between;
    align-content: center;
    grid-gap: 4em;
    width: 90%; }
    .cuerpo__servicios .cuerpo__servicios1 img {
      width: 40em; }
    .cuerpo__servicios .cuerpo__servicios2 img {
      width: 40em; }
    .cuerpo__servicios .cuerpo__servicios3 img {
      width: 40em; }
    .cuerpo__servicios .cuerpo__servicios4 img {
      width: 40em; } }

@media (max-width: 320px) {
  .cuerpo .cuerpo__img {
    display: none; }
  .formulario {
    justify-content: center;
    width: 100%; }
  .cuerpo__nosotros {
    display: flex;
    justify-content: center;
    width: 100%; }
    .cuerpo__nosotros .cuerpo__nosotros__texto {
      display: none; }
    .cuerpo__nosotros .cuerpo__nosotros__video {
      width: 80%;
      align-self: center;
      padding-right: 10%; }
  .cuerpo__servicios {
    grid-gap: 0.3em; }
    .cuerpo__servicios .cuerpo__servicios1 p {
      display: none; }
    .cuerpo__servicios .cuerpo__servicios1 img {
      width: 90%; }
    .cuerpo__servicios .cuerpo__servicios2 p {
      display: none; }
    .cuerpo__servicios .cuerpo__servicios2 img {
      width: 90%; }
    .cuerpo__servicios .cuerpo__servicios3 p {
      display: none; }
    .cuerpo__servicios .cuerpo__servicios3 img {
      width: 90%; }
    .cuerpo__servicios .cuerpo__servicios4 p {
      display: none; }
    .cuerpo__servicios .cuerpo__servicios4 img {
      width: 90%; } }
