/*MEDIAS INDEX*/

@media (max-width: 768px){
    .cuerpo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 5em 0;
        width: 100%;
        .cuerpo__texto{
            padding: 0 1em 2em 1em;
            grid-area: texto;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: lighter;
            text-align: center;
        }
        .cuerpo__img{
            width: 80%;
            grid-area: imagen;
            border: solid 1px black;
            margin: auto;
        }
    }
    nav{
        ul{
            padding: 1em 0;
            li{
                a{
                    text-decoration: none;
                    color: black;
                    font-family: 'Lexend Deca' , sans-serif;
                    font-weight: 200;
                    font-size: 15px;
                    padding: 0.5em;
                    padding-left: 0;
                }
            }
        }
    }
}

@media (max-width: 320px){
    .cuerpo{
        .cuerpo__img{
            display: none;
        }
    }
}