$color-principal: #F9F6E2;
$color-secundario: #4395C3;
$font-principal: "Open sans";


//Extend//

%serviciosP{
            color: black;
            font-family: "Open Sans";
            font-weight: 300;
            font-size: 1.2em;
            text-align: center;
            padding-bottom: 0.5em;
}


$parrafo: (
  fuente: "Open Sans",
  tamaño: 15px,
  grosor1: Lighter,
  grosor2: Bolder,
  tamaño2: 10px,
  fuente2: "Lato"
)