main{
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: 100%;
        max-width: 80rem;
        margin: 0 auto;
        padding: 0 1rem;
        .accordion-item{
            background-color: #4395C3;
            border-radius: .4rem;
            margin-bottom: 1rem;
            padding: 1rem;
            box-shadow: .5rem 5px .5rem rgba(0,0,0,.1);
            &:target .answer{
                max-height: 15rem;
            }
            &:target .accordion-link .add-outline{
                display: none;
            }
            &:target .accordion-link .remove-outline{
                display: block;
            }
            .accordion-link{
                font-size: 1rem;
                color: rgba(255,255,255,.8);
                text-decoration: none;
                background-color: #4395C3;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.8rem 0;
                .icon{
                    padding: .3rem;
                    color: #F9F6E2;
                }
                .remove-outline{
                    display: none;
                }
            }
            .answer{
                max-height: 0;
                overflow: hidden;
                position: relative;
                background-color: #F9F6E2;
                transition: max-height 650ms;
                &::before{
                    content: "";
                    position: absolute;
                    width: .4rem;
                    height: 90%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                p{
                    font-size: .8rem;
                    color: black;
                    padding: 1.2rem;
                }
            }
        }
    }
}
