.cuerpo__nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "texto video"
                         "carrusel carrusel"
                         "carrusel carrusel";
    justify-content: center;
    align-items: center;
    grid-gap: .5em;
    padding: 3em 1em;
    width: 100%;
    .cuerpo__nosotros__texto{
        padding: 20px auto;
        font-family: map-get($parrafo, fuente);
        font-weight: lighter;
        font-size: 15px;
        text-align: center;
        grid-area: texto;
        margin: 0;
    }
    .cuerpo__nosotros__video{
        margin: 0 auto;
        width: 90%;
        grid-area: video;
    }
    .cuerpo__nosotros__carrusel{
        grid-area: carrusel;
        width: 100%;
    }
}